.hwd {
    font-weight: bold;
}

.c {
    color: #2d8d17;
}

.p{
    color: #2d8d17;
    font-style: italic;
}

.cgray {
    color: #808080;
}

.m2 {
    margin-left: 10px;
}

.ex {
    color: #7f7f7f;
}

.opt {
    color: #7f7f7f;
}

.article {
    padding-bottom: 10px;
}

* {
    font-size: 10pt;
    font-family: Segoe UI;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    outline: none;
    text-decoration: none;
    color: #3366cc;
}

a:hover {
    text-decoration: underline;
}
